<mat-card>
    <div *ngIf="usuario">
        Bienvenido {{usuario.nombreUsuario}}
    </div>
</mat-card>
<mat-card *ngIf="!seleccionadas">
    <mat-card-title style="width: 100%;">Listado de tecnologias</mat-card-title>
    <div style="width: 96%;">
        <angular2-multiselect [data]="tecnologias" 
        [(ngModel)]="tecnologiasSelected" [settings]="tecnologiasSettings" 
        (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
        <c-item>
            <ng-template let-item="item">
                <label>{{item.itemName}}</label>
            </ng-template>
        </c-item>
        </angular2-multiselect>
    </div>
    <br>
    <button mat-raised-button color="primary" style="width: 100%;" (click)="activeCuestionario();">Siguiente</button>
</mat-card>
<div *ngIf="seleccionadas">
    <app-cuestionario [tecnologias]="tecnologiasSelected" [usuarioId]="usuario.usuarioId"></app-cuestionario>
</div>
